@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf?eb808993e255f7872b7d41325665dd70") format("truetype"),
url("../font/flaticon.woff?eb808993e255f7872b7d41325665dd70") format("woff"),
url("../font/flaticon.woff2?eb808993e255f7872b7d41325665dd70") format("woff2"),
url("../font/flaticon.eot?eb808993e255f7872b7d41325665dd70#iefix") format("embedded-opentype"),
url("../font/flaticon.svg?eb808993e255f7872b7d41325665dd70#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-man-boxing:before {
    content: "\f101";
}
.flaticon-man-jumping-rope:before {
    content: "\f102";
}
.flaticon-weightlifting:before {
    content: "\f103";
}
.flaticon-exercise:before {
    content: "\f104";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f105";
}
.flaticon-exercise-1:before {
    content: "\f106";
}
.flaticon-yoga:before {
    content: "\f107";
}
